Import Dataset

In [13]:
import pandas as pd

df = pd.read_csv('housing.csv')
df.head()

   price     area  bedrooms  bathrooms  stories mainroad guestroom basement hotwaterheating airconditioning  parking prefarea furnishingstatus
0  13300000  7420  4         2          3        yes       no        no      no              yes             2        yes           furnished
1  12250000  8960  4         4          4        yes       no        no      no              yes             3         no           furnished
2  12250000  9960  3         2          2        yes       no       yes      no               no             2        yes      semi-furnished
3  12215000  7500  4         2          2        yes       no       yes      no              yes             3        yes           furnished
4  11410000  7420  4         1          2        yes      yes       yes      no              yes             2         no           furnished

Filtering Data to only houses with 4 Rooms and sorting by largest Area

In [17]:
filtered_data = df[df['bedrooms'] == 4]
sorted_data =filtered_data.sort_values(by='area',ascending=False)
sorted_data.head()

     price    area   bedrooms  bathrooms  stories mainroad guestroom basement hotwaterheating airconditioning  parking prefarea furnishingstatus
69   6790000  12090  4         2          2        yes       no        no      no              no              2        yes           furnished
56   7343000  11440  4         1          2        yes       no       yes      no              no              1        yes      semi-furnished
142  5600000  10500  4         2          2        yes       no        no      no              no              1         no      semi-furnished
175  5250000   9800  4         2          2        yes      yes        no      no              no              2         no      semi-furnished
229  4690000   9667  4         2          2        yes      yes       yes      no              no              1         no      semi-furnished

Avg Price by Amount of Bedrooms

In [6]:
avgPrice_Bedroom = (df.groupby(['bedrooms'])['price'].mean())
avgPrice_Bedroom.head()

bedrooms
1   2712500.00
2   3632022.06
3   4954598.13
4   5729757.89
5   5819800.00
Name: price, dtype: float64

Housing Counts by bedroom and furnishing status filtered with 2 or more bathrooms and airconditioning

In [20]:
bathroomFilter = df.loc[(df['bathrooms'] > 1) & (df['airconditioning'] == 'yes')]
bathroomFilter['count'] = 1
bathroomBedGroup = bathroomFilter.groupby(['bedrooms','furnishingstatus']).count()['count']
bathroomBedGroup.head(50)

C:\Users\Cumboi\AppData\Local\Temp\ipykernel_22616\1983627331.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bathroomFilter['count'] = 1

bedrooms  furnishingstatus
2         semi-furnished       1
3         furnished           18
          semi-furnished      16
          unfurnished          9
4         furnished           11
          semi-furnished       9
          unfurnished          4
5         furnished            1
Name: count, dtype: int64